@tailwind base;
@tailwind components;
@tailwind utilities;

.productList {
	@apply px-4;
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fill, 20rem);
}

html{
	scroll-behavior:smooth
}

/* Style inputs with type="text", select elements and text areas */
input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
	background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .contact {
	border-radius: 5px;
	width:50%;
	padding: 20px;
  }